<!-- Imagen que se mostrsará en el encabezado -->
<img src="../images/conf.png" alt="Logotipo de la empresa" id="logotipo">
<!--Menú-->
<nav id="mainmenu" class="mainmenu">
    <li><a href="">Maquinaria</a>
        <ul>
            <li><a href="crearMaquinaria.html">Crear</a></li>
            <li><a href="buscarMaquinaria.html">Buscar</a></li>
            <li><a href="listarMaquinaria.html">Listar</a></li>
        </ul>
    </li>
</nav>

<!--pié de pégina-->
<footer class="footerpage">
    The brick<br/>
    Daniel Giraldo - Ronnie Dave<br/>
    Construcción de Elementos de Software II <br/>
    Politécnico Jaime Isaza Cadavid<br/>
    2016
</footer>